*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: #ecf9f5;
}

/*Header Style*/
header ul{
    display: flex;
    list-style: none;  
    padding: 0 20px;
}
header ul li{
    padding: 10px;
}
header ul li:last-child{
    margin-left: auto;
}
header{
    background: #F4511E;
}
header a{
    color: white;
    text-decoration: none;
}
/*Navbar Styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 0 20px
}
nav a{
    text-decoration: none;
    color: black;
}
/*Main Styles*/
#banner{
    background-image: url('../images/img17.jpg');
    background-size: 100% 100%;
    padding: 150px 120px;
    color: white;
}
#offer .title,#application .title,#news .title{
    text-align: center;
    margin: 40px 0;
}
#offer .row,#application .row,#news .row,footer .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
}
#offer .col{
    width: 33.33%;
}
#application .col{
    width: 50%;
}
#news .col{
    width: 33.33%;
}
footer .row .col{
    width: 25%;
}
#offer .card{
    margin: 15px;
    box-shadow: 0 0 10px black;
}
#offer .card .card-body{
    background: white;
    padding: 30px 30px;
}

#application .card{
    border: 2px solid #dfdfdf;
    margin: 15px;
    margin-bottom: 60px
}
#application img{
    width: 100%;
    height: 400px;
    padding: 0;
}
#application .card-header{
    background: #f7f7f7;
    padding: 20px;
    border-bottom: 2px solid #dfdfdf;
}
#application .card-body{
    background: white;
    padding: 30px;
}
#application .collapse{
    display: none;
}
#news img{
    width: 100%;
    height: 200px;
}
#news .card{
    margin: 15px;
    border: 2px solid #e1e2e2;
    border-radius: 0 0 5px 5px;
}
#news .card-footer{
    background: #dfdfdf;
    border-top: 2px solid #e1e2e2;
    padding: 20px;
}
#news .card-body{
    background: white;
    padding: 20px 30px;
}
footer{
    background: black;
    color:white;
}
footer img{
    width: 100%;
}
footer .style{
    margin: 17px;
}
footer foot{
    background: #1E1E1E;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}
#offer .card .card-body i{
    background: white;
    color: orangered;
}
#offer .title p{
    text-decoration: underline;
    text-decoration-color: #F4511E;
    text-decoration-thickness: 4px;
    text-underline-position: under;
    text-underline-offset: 5px;
}
#application .title p{
    text-decoration: underline;
    text-decoration-color: #F4511E;
    text-decoration-thickness: 4px;
    text-underline-position: under;
    text-underline-offset: 5px;
}
#news .title p{
    text-decoration: underline;
    text-decoration-color: #F4511E;
    text-decoration-thickness: 4px; 
    text-underline-position: under;
    text-underline-offset: 5px;
}
#news .col .card .card-body h3{
    color: orangered;
}
footer .row .col .style p1{
    color: orangered;
}
footer .row .col .style p3{
    color: orangered;
}
footer .col .style i{
   color: #F4511E;
}
footer a{
    color: blue
}
